<div class="context border border-3 rounded p-5 mt-5 mb-5">
  <% if card.picture.attached?  %>
    <%= render cl_image_tag @card.picture.key, height: 300, width: 400, crop: :fill %>
  <% elsif card.audio.attached? %>
    <%= render cl_video_tag @card.audio.key %>
  <% else %>
    <%= card.context %>
  <% end %>
</div>

<% if mode == "learning" %>
  <div class="d-flex flex-column">
    <%= card.model_answer %>
    <%= link_to 'Next', next_card.nil? ? card.lesson : card_path("learning", next_card) %>
  </div>
<% else %>
  <p><%= card.instruction %></p>
  <div class="text-center">
      <%= simple_form_for @card, url: attempt_card_path(@card) do |f| %>
        <%= f.collection_radio_buttons :user_answer, @card.options.map { |option| [option.content, option.content] }, :first, :last %>
        <%= f.submit "Answer" %>
      <% end %>
  </div>
<% end %>
