<%# Example instruction: 'Select the correct answer'%>
<h3><%= card.instruction %></h3>
<div class="context border border-3 rounded p-5 mt-5 mb-5">
  <% if card.picture.attached?  %>
    <%= render cl_image_tag @card.picture.key, height: 300, width: 400, crop: :fill %>
  <% elsif card.audio.attached? %>
    <%= render cl_video_tag @card.audio.key %>
  <% else %>
    <%= card.context %>
  <% end %>
</div>

<div class="text-center">
  <%= simple_form_for @card, url: attempt_card_path(@card) do |f| %>
    <%= f.collection_radio_buttons :user_answer, @card.options.map { |option| [option.content, option.content] }, :first, :last %>
    <%= f.submit "Answer" %>
  <% end %>
</div>
