<div class="container">

  <div class="d-flex p-3 m-5 border shadow-sm rounded">
    <div class="col-10">
      <div class="back p-2">
        <%= link_to "< Back to #{@lesson.curriculum.title}", curriculum_path(@lesson.curriculum) %>
      </div>
      <div class="lesson-title p-2">
        <h1><%= @lesson.title %> <%= @mode == "learning" ? ": Learning Mode" : ": Quiz Mode" %> </h1>
      </div>
      <div class="lesson-description p-2">
        <p><%= @lesson.description %></p>
      </div>
      <div class="d-flex p-2 gap-2">
        <%= link_to 'Learn', card_path('learning', @lesson.next_card(@mode)), class: 'btn btn-learn border-radius rounded-pill' %>
        <% if @lesson.status == 'pending' %>
          <%= link_to 'Begin quiz', card_path('test', @lesson.next_card(@mode)), class: 'btn btn-quiz border-radius rounded-pill' %>
        <% else %>
          <%= link_to 'Resume quiz', card_path('test', @lesson.next_card(@mode)), class: 'btn btn-quiz border-radius rounded-pill' %>
        <% end %>
        <%= link_to 'Next lesson', lesson_path(@lesson.next_lesson), class: 'btn btn-quiz border-radius rounded-pill' if @lesson.status == 'completed' %>
      </div>
    </div>

    <div class="col-2">
      <div class="position-relative" style="width: 12rem; height: 12rem;">
        <canvas
              data-controller="doughnut-progress-chart"
              data-doughnut-progress-chart-input-value="[<%= @lesson.completed_cards.length %>,<%= @lesson.incomplete_cards.length %>]"
              data-doughnut-progress-chart-colors-value='["rgb(49, 89, 112)", "rgb(107, 138, 158)"]'
            ></canvas>
        <div class="position-absolute top-50 start-50 translate-middle">
          <p class="mt-4 fs-5"><%= (@lesson.progress * 100).ceil %>%</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-info-wrapper m-5">
    <!-- Card Header -->
    <div class="d-flex justify-content-between m-3">
      <div class="header-and-add-custom-card d-flex gap-2">
        <h2>Cards</h2>
      </div>
      <div class="d-flex">
        <%= link_to "All", lesson_path(@lesson), class: "px-1" %> |
        <%= link_to "Correct", lesson_path(@lesson, cards: "correct"), class:"px-1" %> |
        <%= link_to "Mistakes", lesson_path(@lesson, cards: "mistakes"), class: "px-1" %>
      </div>
    </div>

    <!-- Cards -->
    <div class="cards-content-wrapper p-3 d-grid gap-3">
      <% @cards.order(:id).each do |card| %>
        <%= render 'card_preview', card: card %>
      <% end %>
    </div>
  </div>

</div>
