<div class="container">
  <div class="mb-5 mt-5">
    <h1><%= @lesson.title %></h1>
  </div>
  <div class="row">
    <div class="col-6" >
      <div class="lesson-description">
        <p class="shadow p-3 mb-5 bg-body rounded border border-radius rounded-pill"><%= @lesson.description %></p>
      </div>
    </div>
    <div class="col-6">
      <div class="text-center">
        <h2>Progress</h2>
      </div>
      <div class="d-flex flex-row-reverse px-5 mb-5 justify-content-center align-middle ">
        <div class="position-relative" style="width: 8rem; height: 8rem;">
          <canvas
            data-controller="doughnut-progress-chart"
            data-doughnut-progress-chart-input-value="[<%= @lesson.completed_cards.length %>,<%= @lesson.incomplete_cards.length %>]"
            data-doughnut-progress-chart-colors-value='["rgb(72, 156, 150)","rgb(200, 200, 200)"]'
          ></canvas>
          <div class="position-absolute top-50 start-50 translate-middle">
            <p class="mt-4 fs-5"><%= (@lesson.progress * 100).ceil %>%</p>
          </div>
        </div>
      </div>
      </div>
  <%= link_to (@mode == "learning" ? "Test yourself" : "Back to cards"), lesson_path(mode: @mode == "learning" ? "test" : "learning"), class: 'btn btn-primary border-radius rounded-pill' %>
</div>

<div class="tab-pane fade lesson-tab-content" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
  <div class="px-3 my-3">
    <% @lesson.cards.where(bookmarked: true).each do |card| %>
      <%= render 'lessons/card_preview', card: card, mode: "learning" %>
    <% end %>
  </div>
</div>

<div class="tab-pane fade lesson-tab-content" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
  <div class="px-3 my-3">
    <% @lesson.cards.each do |card| %>
      <%= render 'lessons/card_preview', card: card, mode: @mode %>
    <% end %>
  </div>
</div>

  <div class="text-end px-5">
    <%= link_to "All", lesson_path(@lesson), class: "px-1 text-decoration-none" %> |
    <%= link_to "Correct", lesson_path(@lesson, cards: "correct"), class:"px-1 text-decoration-none" %> |
    <%= link_to "Mistakes", lesson_path(@lesson, cards: "mistakes"), class: "px-1 text-decoration-none" %>
  </div>

  <div class="px-3 my-3">
    <% @cards.order(:id).each do |card| %>
      <%= render 'lessons/card_preview', card: card, mode: @mode %>
    <% end %>
  </div>

  <div class="d-flex justify-content-between py-4 px-5">
   <%= link_to 'Add custom card', new_card_path, class: 'btn btn-primary border-radius rounded-pill' %>
   <%= if @lesson.status == 'pending'
         link_to 'Begin Lesson', card_path(@mode, @lesson.next_card(@mode)), class: 'btn btn-primary border-radius rounded-pill'
       elsif @lesson.next_lesson == nil
         link_to 'Return to Curriculum', curriculum_path(@lesson.curriculum), class: 'btn btn-primary border-radius rounded-pill'
       elsif @lesson.status == 'completed'
         link_to 'Next Lesson', lesson_path(@lesson.next_lesson), class: 'btn btn-primary border-radius rounded-pill'
       else
         link_to 'Resume Lesson', card_path(@mode, @lesson.next_card(@mode)), class: 'btn btn-primary border-radius rounded-pill'
       end
    %>
  </div>
</div>
