<div class="row">
  <div class="col-1">S/N</div>
  <div class="col-7">Lesson</div>
  <div class="col-2">Progress</div>
  <div class="col-2">Score</div>
</div>
<% lessons.each_with_index do |lesson, i| %>
  <%= link_to lesson_path(lesson), class:"row p-2 border rounded-4 mt-1 text-decoration-none" do %>
    <div class="col-1"><%= i+1 %></div>
    <div class="col-7"><%= lesson.title %></div>
    <div class="col-2"><%= lesson.progress %></div>
    <div class="col-2"><%= lesson.score %></div>
  <% end %>
<% end %>
