<div class="container" data-controller="curriculum-form">
  <%= simple_form_for(@curriculum) do |f| %>
    <h1 class="position-relative mt-4 z-2">Adding a Curriculum</h1>

    <div class="form-step active" data-curriculum-form-target="step" data-step="1">
      <%= f.input :title, wrapper_html: { class:"w-100" } %>
    </div>

    <div class="form-step" data-curriculum-form-target="step" data-step="2">
      <%= f.input :purpose, wrapper_html: { class:"w-100" } %>
    </div>

    <div class="form-step" data-curriculum-form-target="step" data-step="3">
      <%= f.input :start_date, as: :date, order: [:day, :month, :year], wrapper_html: { class:"w-100" }  %>
    </div>

    <div class="form-step" data-curriculum-form-target="step" data-step="4">
      <%= f.input :end_date, as: :date, order: [:day, :month, :year], wrapper_html: { class:"w-100" }  %>
    </div>

    <div class="form-step" data-curriculum-form-target="step" data-step="5">
      <%= f.association :language, wrapper_html: { class:"w-100" }  %>
    </div>

    <div class="form-step" data-curriculum-form-target="step" data-step="6">
      <%= f.input :context, wrapper_html: { class:"w-100" }  %>
    </div>

    <div class="arrow-button">
      <a><i class="fa-solid fa-arrow-left" data-action="click->curriculum-form#previous"></i></a>
      <a><i class="fa-solid fa-arrow-right" data-curriculum-form-target="nextButton" data-action="click->curriculum-form#next"></i></a>
      <%= f.submit data: { curriculum_form_target: 'submit' }, class: 'd-none' %>
    </div>

  <% end %>
</div>
