<div class="container" data-controller="curriculum-form">
  <%= simple_form_for(@curriculum) do |f| %>
    <h1 class="position-relative mt-4 z-2">Adding a Curriculum</h1>
    <div class="form-step active" data-curriculum-form-target="step" data-step="1">
      <%= f.input :title, wrapper_html: { class:"w-100" } %>
    </div>
    <div class="form-step" data-curriculum-form-target="step" data-step="2">
      <%= f.input :purpose, wrapper_html: { class:"w-100" }, input_html: { placeholder: 'I am going for a holiday' } %>
    </div>
    <div class="form-step" data-curriculum-form-target="step" data-step="3">
      <%= f.input :start_date, as: :date, order: [:day, :month, :year], wrapper_html: { class:"w-100" }  %>
    </div>
    <div class="form-step" data-curriculum-form-target="step" data-step="4">
      <%= f.input :end_date, as: :date, order: [:day, :month, :year], wrapper_html: { class:"w-100" }  %>
    </div>
    <div class="form-step" data-curriculum-form-target="step" data-step="5">
      <%= f.association :language, label_method: :name, value_method: :id, wrapper_html: { class:"w-100" }  %>
    </div>
    <div class="form-step" data-curriculum-form-target="step" data-step="6">
      <%= f.input :context, wrapper_html: { class:"w-100" }, input_html: { placeholder: 'I want to be able to navigate around and ask some basic questions' }  %>
    </div>
    <div class="form-step" data-curriculum-form-target="step" data-step="7">
      <%= f.input :lesson_hours, collection: 1..8, wrapper_html: { class:"w-100" }  %>
    </div>
    <div class="form-step" data-curriculum-form-target="step" data-step="8">
      <%= f.association :card_templates, as: :check_boxes %>
      <%#=
        f.input(
          :card_templates,
          as: :check_boxes,
          collection: CardTemplate.all.map { |t| [t.name, t.id] },
          include_blank: false,
          label: "Card Template(s):",
          wrapper_html: { class:"w-100" }
        )
      %>
    </div>
    <div class="arrow-button">
      <a><i class="fa-solid fa-arrow-left" data-action="click->curriculum-form#previous"></i></a>
      <a><i class="fa-solid fa-arrow-right" data-curriculum-form-target="nextButton" data-action="click->curriculum-form#next"></i></a>
      <%= f.submit data: { curriculum_form_target: 'submit' }, class: 'd-none' %>
    </div>
  <% end %>
</div>
