<div class="d-flex justify-content-between p-5">
  <div class="back-to-lesson"><%= link_to 'Back to lesson', lesson_path(@card.lesson, mode: @mode)%></div>
  <div class="bookmark-icon">
  <%= link_to bookmark_card_path(@card, mode: @mode), class: "text-decoration-none" do %>
    <% if @card.bookmarked %>
      Bookmarked <%= lucide_icon('bookmark-check') %>
    <% else %>
      Add to bookmarks <%= lucide_icon('bookmark') %>
    <% end %>
  <% end %>
  </div>

</div>

<div class="container text-center">
  <div class="card-content">
    <%# render partials of templates here%>
    <%= render @template_path, card: @card, mode: @mode, next_card: @next_card %>
  </div>

  <div class="thumbnails">
    <% @card.lesson.cards.each do |card| %>
        o
    <% end %>

  </div>
</div>
