<div class="d-flex justify-content-between p-5">
  <div class="back-to-lesson"><%= link_to 'Back to lesson', lesson_path%></div>
  <div class="bookmark-icon">Add to bookmarks
    <%= render 'shared/card_item',
        icon: 'bookmark',
        link: "#"%>
  </div>

</div>

<div class="container text-center">
  <div class="card-content">
    <%# render partials of templates here%>
    <%= render @template_path, card: @card %>
  </div>

  <div class="text-center">
    <%= simple_form_for @card do |f| %>
      <%= f.input :user_answer, label: false %>
      <%= f.submit "Answer" %>
    <% end %>

   <%#= link_to 'Answer', card_path(@card.lesson.next_card), class: 'next-card-btn mt-auto align-self-end' %>
  </div>

</div>
