<!DOCTYPE html>
<html>
  <head>
    <title>RailsRefyned</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="d-flex">
      <%= render "shared/sidebar" %>
      <main class="w-100 flex-shrink-1">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <section class="m-4">
          <%= yield %>
        </section>
      </main>
    </div>
  </body>
</html>
